{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<style>
    body{
        background-color:#f5f8fb;
    }
    .main{
        background-image: url('/static/img/signin.svg');
        background-repeat:no-repeat;
        background-position:50% 30%
    }
    .salah{
        width:45%;
        margin :auto
    }
</style>
    <br>
    <br>
    {% if form.non_field_errors%}
        <div class="alert alert-danger" role="alerts">
        {%for error in form.non_field_errors%}
            <p {%if forloop.last%} class="mb-0" {%endif%}>{{error}}</p>
        {%endfor%}
        </div>
    {%endif%}
    <div class="container main" data-background-lg="/static/img/signin.svg">
        <p class="text-center mb-4"><a href="{%url 'index'%}" class="text-gray-700"><i class="fa fa-angle-left mr-2"></i> Back to homepage</a></p>
        <section class="tab-pane fade show active salah card p-4">
            <h2 class=" m-auto">Reset password?</h2>
            <br>
            <form method="post" novalidate>
                {% csrf_token %}
                {% for field in form %}
                    {{field.label_tag}}
                    <div class="form-outline mb-4">
                        {% render_field field class="form-control is-invalid black" %}
                        {% for error in field.errors %}
                            <div class="invalid-feedback" >
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
                <br>
                <button type="submit" class="btn btn-dark btn-block mb-4">
                    Reset password
                </button>
                <br>
                <div class=" text-muted text-center">
                    Go back to the  <a href="{% url 'login' %}">login page</a>
                </div>
            </form>
        </section>  
    </div>
{% endblock %}