{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<style>
    body{
        background-color:#f5f8fb;
    }
</style>
<br>
<br>
<br>
<br>
<br>
<div class="container">
        <section class="tab-pane fade show active">
            <div class="alert alert-warning" role="alert">
                <li class="breadcrumb-item">Success! Your password has been changed ✅</li>
            </div>
            <br>
            <br>
                <a class="btn btn-info center" href="{% url 'index' %}" >Return To Home 🏠</a>
        </section>  
    </div>
{% endblock %}