{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
        <div class="py-2 mb-5" style="background:#188cf4">
            <div class="container">
                <div class="row">
                        <div class="profile-head col-10">
                            <h3 class="text-white">
                                    <div class="logo">
                                        <a href="{% url 'index' %}">
                                            <img src="{% static 'img/logo.png' %}" alt="">
                                        </a>
                                    </div>
                            </h3>   
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-3 ">
                    <div>
                        <img src="{% static 'img/banner/banner.png' %}" alt="user image" width="280" height="200" >
                        <img src="{% static 'img/candiateds/4.png' %}" alt="user image" width="100" height="100" class="mx-auto d-block rounded-circle" style="margin-top:-50px">
                    </div>
                    <div class="mt-2 text-center">
                        <p>{{ users.username }}</p>
                    </div>
                    <div class=" text-center">
                        <p>{{ user.email }}</p>
                    </div>
                    <div class=" text-center">
                        <p>059 591 1694</p>
                    </div>
                    <div class="">
                        <a class="btn btn-danger  border-dark mt-2 w-100" href="#">Edit Profile</a>
                        <a class="btn btn-dark border-dark mt-2 w-100" href="{% url 'change_password' %}">Change Password</a>
                    </div>
                </div>
                {% if users.username == user.username %}
                    <div class="col-9 ms-3">
                        <h4 class=" ml-3">General information</h4>
                        <div class="ml-4 mt-4">
                            <form method="post" enctype="multipart/form-data" >
                                <div class="row">
                                    <div class="form-group col-6">
                                        <label for="exampleInputEmail1" class="text-dark">First Name</label>
                                        <input type="text" class="form-control" id="#"  placeholder="Enter your first name">
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="exampleInputPassword1" class="text-dark">Last Name</label>
                                        <input type="text" class="form-control" id="#" placeholder="Enter your last name">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-6">
                                        <label for="exampleInputEmail1" class="text-dark">Birthday</label>
                                        <input type="date" class="form-control" id="#" >
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="exampleInputPassword1" class="text-dark">Gender</label>
                                        <select class="form-control form-control-lg w-100">
                                            <option>Male</option>
                                            <option>Female</option>
                                        </select>                                
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-6">
                                        <label for="" class="text-dark">Email </label>
                                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="name@company.com">
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="exampleInputPassword1" class="text-dark">Phone</label>
                                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="+970 59 804 8284">
                                    </div>
                                </div>
                                    <h4 class="mt-4 ">Address</h4>
                                <div class="row">
                                    <div class="form-group col-6">
                                        <label for="" class="text-dark">Address</label>
                                        <input type="text" class="form-control" id="#"  placeholder="Enter your home address">
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="" class="text-dark">City</label>
                                        <input type="text" class="form-control" id="#" placeholder="city">
                                    </div>
                                </div>
                                <div>
                                    <input type="submit" value="save" class="btn btn-primary ">
                                </div>
                            </form>
                        </div>
                    </div>
                {% else %}
                    <div class="col-9 ms-3">
                        <div class="ml-4 mt-4">
                            <img src="{% static 'img/explorer/4.png' %}" alt="user image" width="80%" height="80%" class="mx-auto d-block ">
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
{% endblock %}