{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
    <style>
        body{
            background-color:#f5f8fb;
        }
        .main{
            background-image: url('/static/img/signin.svg');
            background-repeat:no-repeat;
            background-position:50% 30%
        }
        .salah{
            width:45%;
            margin :auto
        }
        .cover{
            background-repeat:no-repeat;
        }
    </style>
    <br><br>
    <div class="container mt-5">
        <div class="row">
            <div class="col-3 card p-0">
                <div>
                    <div class="p-0 m-0 d-block ml-n2 bg-red">
                        <img src="{% static 'img/profile-cover.jpg' %}" alt="user image" class="w-100" height="180" >
                    </div>
                    <img src="{% static 'img/candiateds/4.png' %}" alt="user image" width="140" height="140" class="mx-auto d-block rounded-circle" style="margin-top:-70px">
                </div>
                <div class="mt-2 text-center">
                    <p>{{ users.username }}</p>
                </div>
                <div class=" text-center">
                    <p>{{ users.email|default:'@gmail.com' }}</p>
                </div>
                <div class=" text-center">
                    <p>059 591 1694</p>
                </div>
                {%  if users.username == user.username%}
                    <div class="p-2">
                        <a class="btn btn-dark border-dark mt-2 w-100 m-auto " href="{% url 'change_password' %}">Change Password</a>
                    </div>
                {%endif%}
            </div>
            {% if users.username == user.username %}
                <div class="col-8 ms-3 card ml-4 p-4">
                    <h4 class=" ml-3">General information</h4>
                    <div class="ml-4 mt-4">
                        <form method="post" enctype="multipart/form-data" >
                            {% csrf_token %}
                            <div class="row">
                                <div class="form-group col-6">
                                    <label for="exampleInputEmail1" class="text-dark">First Name</label>
                                    <input type="text" class="form-control" id="#"  placeholder="Enter your first name">
                                </div>
                                <div class="form-group col-6">
                                    <label for="exampleInputPassword1" class="text-dark">Last Name</label>
                                    <input type="text" class="form-control" id="#" placeholder="Enter your last name">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-6">
                                    <label for="exampleInputEmail1" class="text-dark">Birthday</label>
                                    <input type="date" class="form-control" id="#" >
                                </div>
                                <div class="form-group col-6">
                                    <label for="exampleInputPassword1" class="text-dark">Gender</label>
                                    <select class="form-control form-control-lg w-100">
                                        <option>Male</option>
                                        <option>Female</option>
                                    </select>                                
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-6">
                                    <label for="" class="text-dark">Email </label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="name@company.com">
                                </div>
                                <div class="form-group col-6">
                                    <label for="exampleInputPassword1" class="text-dark">Phone</label>
                                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="+970 59 804 8284">
                                </div>
                            </div>
                            <h4 class="mt-4 ">Address</h4>
                            <div class="row">
                                <div class="form-group col-6">
                                    <label for="" class="text-dark">Address</label>
                                    <input type="text" class="form-control" id="#"  placeholder="Enter your home address">
                                </div>
                                <div class="form-group col-6">
                                    <label for="" class="text-dark">City</label>
                                    <input type="text" class="form-control" id="#" placeholder="city">
                                </div>
                            </div>
                            <div>
                                <input type="submit" value="save" class="btn btn-dark ">
                            </div>
                        </form>
                    </div>
                </div>
            {% else %}
                <div class="col-5 ms-4">
                    <div class="ml-4 mt-4">
                        <img src="{% static 'img/image.svg' %}" alt="user image" width="80%" height="80%" class="mx-auto d-block ">
                    </div>
                    
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}