{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
    <style>
        body{
            background-color:#f5f8fb;
            overflow:hidden
        }
        .salah{
            width:45%;
            margin :auto
        }
    </style>
    <div class="container">
        <p class="text-center mb-4"><a href="{%url 'index'%}" class="text-gray-700"><i class="fa fa-angle-left mr-2 mt-5"></i> Back to homepage</a></p>
        <div class="row">
            <div class="col-6 card my-5 p-3">
            {% if form.non_field_errors%}
                <div class="alert alert-danger" role="alerts">
                    {%for error in form.non_field_errors%}
                        <p {%if forloop.last%} class="mb-0" {%endif%}>{{error}}</p>
                    {%endfor%}
                </div>
            {%endif%}
            <h1 class=" m-auto ">Freelancer</h1>
            <br>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {%for field in form %}
                    <div class="form-group">
                        {{field.label_tag}}
                        {%if form.is_bound%}
                                {%if field.errors %}
                                    {% render_field field class="form-control is-invalid w-100" %}
                                    {%for error in field.errors%}
                                        <div class="invalid-feedback">{{error}}</div>
                                    {%endfor%}
                                {%else%}
                                    {% render_field field class="form-control is-valid d-block w-100" %}
                                {%endif%}
                        {%else%}
                            {% render_field field class="form-control " %}
                        {%endif%}
                    </div>
                        {%if field.help_text%}
                            <small class="form-text text-muted">
                                {{field.help_text}}
                            </small>
                        {%endif%}
                {%endfor%}
                <button type="submit" class="btn w-100 bg-dark text-light">Save</button>
            </form>
        </div>
        <div class="col-6">
            <img src="/static/img/banner/illustration.png" class="mt-5" >
        </div>
    </div>
{% endblock %}