{% extends 'base.html' %}
{% load static %}
<!-- header-start -->
{% block header %}{% include "includes/header.html" %}{% endblock %}
<!-- header-end -->
<!-- content-start -->
{% block content %}
    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Post </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->
    <!-- job_listing_area_start  -->
    <div class="job_listing_area plus_padding">
        <div class="container">
            <div class="row">
                <section style="background-color: #f7f6f6;">
                    <div class="container my-5 py-5 text-dark">
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-12 col-lg-10 col-xl-8">
                                <div class="d-flex justify-content-between align-items-center mb-4">
                                    <h4 class="text-dark mb-0">Unread comments ({{count}})</h4>
                                </div>
                                {% for of in free %}
                                    <div class="card mb-3 ">
                                        <div class="card-body ">
                                            <div class="d-flex flex-start w-100">
                                                <img class="rounded-circle shadow-1-strong me-3"
                                                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(26).webp" alt="avatar" width="40" height="40" />&nbsp;&nbsp;
                                                <div class="w-100">
                                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                                        <h6 class="text-primary fw-bold mb-0">
                                                            {{ of.username }}&nbsp;
                                                            <span class="text-dark ms-3"> {{of.email}} </span>
                                                        </h6>
                                                        <p class="mb-0">2 days ago{{of.created_at.date}}</p>
                                                    </div>
                                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                                        <p class="text-primary mb-0">
                                                            <i class="fa fa-link"></i> &nbsp;{{ of.link }}
                                                        </p>
                                                    </div>
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <div>
                                                            <p class="text-dark ms-2">
                                                                Cover Letter
                                                            </p>
                                                        </div>
                                                        <div>
                                                            <p class="mb-0">
                                                                {{ of.coverletter }}
                                                            </p>
                                                        </div>
                                                        
                                                        <div class="d-flex flex-row">
                                                            <a href="{{ of.cv.url }}" Download class="btn btn-primary">
                                                                Download CV
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
<!-- job_listing_area_end  -->
{% endblock %}
<!-- content-end -->
<!-- footer-start -->
{% block footer %}
    {% include "includes/footer.html" %}
{% endblock  %}
<!-- footer-end -->